@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400");
@import url("font-awesome.min.css");

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, hgroup, menu, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 {
	display: block;
}
article, aside, details, figcaption, figure, footer, hgroup, menu, section {
	display: block;
}
body {
	line-height: 1;
	-webkit-text-size-adjust: none;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}
/* Basic */

body {
	position: relative;
	background-color: #12151D;
	color: #999;
	color: rgba(255, 255, 255, 0.6);
	font-family: 'Source Sans Pro';
	font-weight: 400;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

a {
	color: #fff;
	color: rgba(255, 255, 255, 0.85);
	text-decoration: none;
	-moz-transition: color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out;
	-ms-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}

a:hover {
	
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	color: #fff;
	letter-spacing: -0.05em;
}

strong, b {
	color: #fff;
	color: rgba(255, 255, 255, 0.85);
	font-weight: 600;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#contenta {   
  width: 100%;


}

#left, #right {
  width: 47%;  
  padding: 1em;

}

#left {   
  float:left; 
}
#right {   float:right; 
line-height:18px;
}
input#nombres,input#apellidos,input#fecha,input#emaila,input#clave {
	color:#999;
	font-size:12px;
	text-transform:uppercase;
    width: 80%;
    padding: 7px 18px;
    margin: 7px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input#nombres:focus,input#apellidos:focus,input#apellidos:focus,input#emaila:focus,input#clave:focus {
    border: 1px solid #555;
}
button.envia {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	letter-spacing:2px;
}

button.envia:hover {
	background-color:#15C823;
}
button.envia:active {
	position:relative;
	top:1px;
}
p.til{
	font-family: 'Open Sans', serif; 
	font-weight:bold;
	font-size:24px;
	margin-bottom:10px;
}
p.catg{
	font-family: 'Open Sans', serif; 
	font-size:11px;
	margin-bottom:10px;
	color:#fff;
	letter-spacing:1px;
}

#searchBox {
	background-color: rgba(0, 0, 0, 0.3); 
	border: 1px solid #0A5481; 
	color: #CCC; 
	font-family: 'Open Sans', serif; 
	font-size: 13px; margin: 6px; 
	padding: 5px 25px 5px 4px; 
	width: 172px;
}
#searchButton {
	position: absolute; 
	margin: 22px 0 0 -32px;
}
/*Nav Bar */
header {
	font-family: 'Open Sans', serif;
	font-size: 13px;
	background-color:#0E7FC3;
	border-bottom: 1px solid rgba(0,0,0,.15);
	display: flex;
	flex-direction: column;
	text-align: center;
	z-index:1;
}
header > div#logo {
	position: relative;
}
header > .menuDown {
	box-shadow: 0 3px 5px rgba(0,0,0,.15);
}
    
header > .menuUp {
	box-shadow: none;
}    
header > div#logo > div#navToggle {
	background-color: rgba(0,0,0,.15);
	position: absolute;
	right: 0;
	top: 0;
	transition: 300ms all ease;
	font-size:2em;
}            
header > div#logo > div#navToggle:hover {
	background-color: rgba(0,0,0,.1);
}     
header > div#logo > div#navToggle > a {
	color: rgba(255,255,255,.85);
	display: block;
	font-size: 0.85em;
	font-weight: 600;
	padding: 0 2.5rem;
	text-decoration: none;
	transition: 300ms all ease;
	line-height:63px
}     
header > div#logo > div#navToggle:hover > a {
	color: rgba(255,255,255,1);
}
header > nav {
	background-color: #0E7FC3;
	display: none;
	flex: 1;
	transform: 300ms all ease;
}
header nav > ul {
	list-style-type: none;    
}    
header nav > ul > li {
	border-bottom: 1px dotted rgba(0,0,0,.1);
	position: relative;
}          
header nav > ul > li:last-of-type {
	border-bottom: none;    
}         
header nav > ul > li > a {
	display: block;
	color: #FFF;
	padding: 1.5rem 0;
	text-decoration: none;
	transition: 250ms all ease;
}                
header nav > ul > li > a span.toggle {
	background-color: rgba(0,0,0,.05);
	border-radius: 3rem;
	color: rgba(0,0,0,.25);
	font-size: 0.75em;
	font-weight: 500;
	padding: 2px 8px;
	text-transform: lowercase;  
}
header nav > ul > li > a span.caret {
	display: none;
}               
header > nav > ul > li:hover > a {
	color:#1F5892;
}     
header > nav > ul > li > nav {
	background-color: rgb(51,51,51);
	border-radius: 1.5em;
	box-shadow: 0 2px 8px rgba(0,0,0,.6);
	display: none;
	overflow: hidden;
	position: absolute;
	right: 5%;
	width: 90%;
	z-index: 100;
}          
header > nav > ul > li > nav > ul > li > a {
	color: rgba(255,255,255,.85);
	transition: 300ms all ease;
}
header > nav > ul > li > nav > ul > li:hover > a {
	background-color: rgba(0,0,0,.6);
	color: rgba(255,255,255,1);
}
.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.glyphicon-menu-hamburger:before {
  content: "\e236";
}

/* List */

ul.contact {
	cursor: default;
	margin: 0 0 1em 0;
}

ul.contact li {
	display: inline-block;
	font-size: 1.5em;
}

ul.contact li span {
	display: none;
}

ul.contact li a {
	opacity: 0.35;
	color: #fff;
	-moz-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
}
ul.contact li a:hover {
	opacity: 1.0;
}
/* Item */
.item.thumb {
	display: block;
	position: relative;
	background: #1a1f2c;
	background: rgba(255, 255, 255, 0.25);
	cursor: default;
}
div.categoria{
	margin-top:-10px;
	color:#137CBD;
	font-size:13px;
}
div.texto{
	margin-top:-15px;
	color:#FFF;
	font-size:14px;
}
div.cap {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #1a1f2c;
	background: rgba(18, 21, 29, 0.85);
	width: 100%;
	padding: 1em;
	font-weight: 400;
	line-height: 1em;
	z-index: 2;
}
.item.thumb img {
	display: block;
	z-index: 1;
}
/* Icons */
.icon {
	position: relative;
	text-decoration: none;
}
.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}
.icon > .label {
	display: none;
}
/* Wrapper */
#wrapper {
	position: relative;
}
/* Header */
#header {
	position: relative;
	background: #d64760 url("images/overlay.png");
	color: #fff;
	cursor: default;
}
#header p {
	opacity: 0.65;
}
/* Desktop */
 #fvpp-blackout {
  display: none;
  z-index: 499;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}

#contenido {
  font-family: 'Open Sans', serif;
  font-size:13px;
  line-height:16px;
  position: relative;
  display:block;
  width: 60%;
  left: 20%;
  top: 5%;
  padding: 20px 2%;
  background: rgba(255, 255, 255, 0.2);
  color:#ccc;
}
#contenido .titulo {

  font-size:14px;
  font-weight:bold;
  color:#fff;
}
#my-welcome-message {
  font-family: 'Open Sans', serif;
  text-align:center;
  display: none;
  z-index: 500;
  position: fixed;
  width: 60%;
  left: 20%;
  top: 20%;
  padding: 20px 2%;
  color:#fff;
}

#my-welcome-message p.title {
  font-size:30px;
  font-weight:400;
}
#my-welcome-message p.foot {
  font-size:11px;
}
#my-welcome-message p input.mail#mail {
text-align:center;
color:#999;
font-size:12px;
text-transform:uppercase;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#my-welcome-message p input.mail#mail:focus {
    border: 3px solid #555;
}

#my-welcome-message p input.envia {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
#my-welcome-message p input.envia:hover {
	background-color:#15C823;
}
#my-welcome-message p input.envia:active {
	position:relative;
	top:1px;
}

#fvpp-close {
  position: absolute;
  top: 4px;
  right: 20px;
  cursor: pointer;
}

#fvpp-dialog h2 {
  font-size: 2em;
  margin: 0;
}

#fvpp-dialog p { margin: 0; }


#feedback-page {
  text-align: center;
}

#form-maina {
  width: 100%;
  float: left;
  padding-top: 0px;
}

#form-diva {
  background: rgba(255, 255, 255, 0.2);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  margin-bottom:10px;
  width: 850px;
  float: left;
  left: 36%;
  position: absolute;
  top:22%;
  margin-left: -210px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  font-family: 'Open Sans', serif;
  font-size:13px;
  line-height:16px;
}

#form-main {
  width: 100%;
  float: left;
  padding-top: 0px;
}

#form-div {
  background: rgba(255, 255, 255, 0.2);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  top:22%;
  margin-left: -210px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
  color: #3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused {
  color: #30aed6;
  border: #30aed6 solid 3px;
}


/* Icons ---------------------------------- */

#name {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment {
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  background-color: white;
}

#button-blue {
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

#button-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #0493bd;
}

.submit:hover {
  color: #3498db;
}

.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease {
  width: 100%;
  background-color: white;
}
/**Cupon Produc*/






/* Mobile */

@media screen and (max-width: 736px) {

/* Basic */

body {

font-size: 12pt;
line-height: 1.75em;
}

/* List */

ul.contact li {
margin: 0 0.35em 0 0.35em;
}

/* Item */

.item {
border: 0;
}

.item.thumb {
width: 50%;
float: left;
height: 9em;
position: relative;
}

.item.thumb h2 {
display: none;
}

.item.thumb a {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
}

.item.thumb img {
display: none;
}

/* Wrapper */

#wrapper.overlayed {
-moz-filter: blur(1px);
-webkit-filter: blur(1px);
-ms-filter: blur(1px);
filter: blur(1px);
}

/* Header */

#header {
padding: 2.5em 1.5em;
text-align: center;
}

#header h1 {
font-size: 2em;
}

#header p {
font-size: 1em;
line-height: 1.5em;
margin: 0.75em 0 0 0;
}

/* Main */

#main {
overflow: hidden;
}

/* Footer */

#footer {
padding: 2em 1em;
text-align: center;
}

#footer br {
display: none;
}

#footer .right {
border-top: solid 1px rgba(255, 255, 255, 0.1);
margin: 2em 0 0 0;
padding: 2em 0 0 0;
}


#footer .copyright {
margin: 1px 0 0 0;
}

/* Popup */

.poptrox-popup {
background: #0a0f1c;
box-shadow: 0px 0px 30px 10px rgba(8, 11, 19, 0.85);
border: solid 2.5px #fff;
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
-ms-box-sizing: content-box;
box-sizing: content-box;
}

}
@media all and (max-width: 600px) {
	#left, #right {
  width: 100%;
  display:block;
  position: relative; 
}
#searchButton {position: absolute; margin: 13px 0 0 -25px;}
header > div#logo {
margin-top:15px;
zoom:.4;
}
header > div#logo > div#navToggle {
        position: relative; 
    }

#my-welcome-message {
height:80%;
}

  #form-diva {
    left: 6%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
    position:relative;
    display:block;
  }

  #form-div {
    left: 6%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  position:relative;
display:block;
  }
}
/* Medium screens */
@media all and (min-width: 700px) {
header > div#logo > div#navToggle {
        display: none;    
    }
    
header {
        background-color: #0E7FC3;
        flex-direction: row;
        line-height: 60px;
        padding: 0 3rem;
        position: fixed;
        text-align: left;
        width: 100%;
    }
    
header > div#logo {
            background-color: transparent;
            line-height: 90px;
position: absolute;
        }
    
header > div#logo > h1 {
                color: rgb(140, 193, 193);
            }
            
header > nav {
        background-color: transparent;
        display: block;
    }
    
header > nav > ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;    
        }
        
header nav > ul > li {
                border-bottom: none;
            }
    
header nav > ul > li > a {
                    padding: 0 1.25rem;
                }
                    
header nav > ul > li > a span.toggle {
                        display: none;  
                    }
                    
header nav > ul > li > a span.caret {
                        border-bottom: 4px solid transparent;
                        border-top: 4px solid rgba(0,0,0,.65);
                        border-right: 4px solid transparent;
                        border-left: 4px solid transparent;
                        border-radius: 1px;
                        content: "";
                        display: inline-block;
                        height: 0;
                        margin: 0 0 0 .25rem;
                        transition: 250ms all ease;
                        width: 0;
                        vertical-align: middle;
                    }
                    
header nav > ul > li:hover > a span.caret {
                            border-top-color: rgb(140, 193, 193);
                            transform: rotate(270deg); 
                        }
    
header > nav > ul > li:hover > nav {
        background-color: rgb(51,51,51);
        border-radius: .25em;
        box-shadow: 0 2px 8px rgba(0,0,0,.6);
        display: block;
        line-height: 3em;
        right: -50%;
        width: 196px;
    }
}
@media screen and (min-width: 737px) {

/* Basic */

html {
height: 100%;
}

body {
background-image: url("images/overlay.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url("../../images/bg.jpg");
background-image: url("images/overlay.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url("../../images/bg.jpg");
background-image: url("images/overlay.png"), -ms-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url("../../images/bg.jpg");
background-image: url("images/overlay.png"), linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url("../../images/bg.jpg");
background-position: top left, bottom left, auto;
background-size: auto, 100% 100%, cover;
background-repeat: repeat, no-repeat, auto;
padding: 0;
font-size: 12pt;
line-height: 1.75em;
height: 100%;
min-height: 450px;
min-width: 1000px;
}

/* List */

ul.contact {
margin-bottom: 0.5em;
}

ul.contact li {
margin-left: 1em;
}

/* Wrapper */

#wrapper {
height: 100%;
overflow: hidden;
-moz-transition: -moz-filter 0.25s ease-in-out;
-webkit-transition: -webkit-filter 0.25s ease-in-out;
-ms-transition: -ms-filter 0.25s ease-in-out;
transition: filter 0.25s ease-in-out;
}

#wrapper.overlayed {
-moz-filter: blur(3px);
-webkit-filter: blur(3px);
-ms-filter: blur(3px);
filter: blur(3px);
}

/* Main */

#main {
width: 100%;
position: absolute;
}

/* Reel */

#reel {
position: relative;
opacity: 0;
}

#reel .item {
display: block;
float: left;
position: relative;
overflow: hidden;
}

/* Header */

#header {
padding: 2em 3em;
xmin-height: 212px;
vertical-align: middle;
}

#header:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
}

#header .inner {
display: inline-block;
vertical-align: middle;
}

#header h1 {
font-size: 3em;
line-height: 1em;
}

#header p {
font-size: 1.25em;
line-height: 1.5em;
margin: 0.5em 0 0 0;
}

/* Footer */

#footer {
font-family: 'Open Sans', serif;
font-size: 13px;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
overflow: hidden;
}

#footer h2 {
font-size: 2.25em;
margin: 0 0 1em 0;
}

#footer .left {
padding: 2em;
text-align: left;
}

#footer .right {
position: absolute;
bottom: 0;
right: 0;
padding: 2em;
text-align: right;
}

#footer .copyright li {
display: inline-block;
margin-left: 1em;
padding-left: 1em;
border-left: solid 1px #333;
border-left-color: rgba(255, 255, 255, 0.25);
line-height: 1em;
}

#footer .copyright li:first-child {
border-left: 0;
margin-left: 0;
padding-left: 0;
}

/* Popup */

.poptrox-popup {
background: #1a1f2c;
background: rgba(18, 21, 29, 0.9);
box-shadow: 0px 0px 0px 10px #fff, 0px 10px 60px 10px rgba(8, 11, 19, 0.55);
cursor: default;
}

.poptrox-popup .loader {
display: block;
width: 48px;
height: 48px;
position: absolute;
top: 50%;
left: 50%;
margin: -24px 0 0 -24px;
background: url("images/loader.gif");
opacity: 0.25;
}

.poptrox-popup .caption {
position: absolute;
bottom: 0;
left: 0;
background: #1a1f2c;
background: rgba(18, 21, 29, 0.85);
display: block;
width: 100%;
line-height: 75px;
text-align: center;
font-size: 1.25em;
color: #fff;
}

.poptrox-popup .nav-next, .poptrox-popup .nav-previous, .poptrox-popup .closer {
text-decoration: none;
font-weight: normal;
font-style: normal;
-moz-transition: opacity 0.25s ease-in-out;
-webkit-transition: opacity 0.25s ease-in-out;
-ms-transition: opacity 0.25s ease-in-out;
transition: opacity 0.25s ease-in-out;
opacity: 0.35;
}

.poptrox-popup .nav-next:hover, .poptrox-popup .nav-previous:hover, .poptrox-popup .closer:hover {
opacity: 1.0;
}

.poptrox-popup .nav-next, .poptrox-popup .nav-previous {
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
text-transform: none !important;
width: 150px;
height: 75px;
position: absolute;
bottom: 0;
cursor: pointer;
font-size: 3em;
line-height: 75px;
}

.poptrox-popup .nav-next {
right: 0;
text-align: right;
padding-right: 30px;
}

.poptrox-popup .nav-next:before {
content: '\f105';
}

.poptrox-popup .nav-previous {
left: 0;
text-align: left;
padding-left: 30px;
}

.poptrox-popup .nav-previous:before {
content: '\f104';
}

.poptrox-popup .closer {
width: 35px;
height: 35px;
font-size: 2em;
line-height: 35px;
text-align: center;
position: absolute;
top: -70px;
right: -70px;
cursor: pointer;
border-radius: 40px;
box-shadow: 0px 0px 0px 1px #fff;
}

.poptrox-popup .closer:before {
content: "\00d7";
}

}